<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{title}}</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>

                <a class="btn btn-round btn-primary" (click)="newSupplierModal.show()">Add new Supplier</a>
                <simple-notifications [options]="notificationsOptions"></simple-notifications>
              </div>
            </div>

             <!--modal -->
              <div class="modal fade" bsModal #newSupplierModal="bs-modal" [config]="{backdrop: 'static'}"
                   tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" aria-label="Close" (click)="newSupplierModal.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Add Supplier</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel">
                            <div class="x_content">
                              <br />
                              <form id="demo-form2" class="form-horizontal form-label-left" [formGroup]="addSupplierForm" novalidate (ngSubmit)="saveSupplier(addSupplierForm.value, addSupplierForm.valid)">

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplier-name"> Name <span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="supplier-name" formControlName="name" class="form-control col-md-7 col-xs-12">
                                    <small class="alert alert-danger" [hidden]="addSupplierForm.controls.name.valid || (addSupplierForm.controls.name.pristine && !submitted)">
                                        Name is required
                                    </small>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Address<span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="email" formControlName="email" class="form-control col-md-7 col-xs-12">
                                    <small class="alert alert-danger" [hidden]="addSupplierForm.controls.email.valid || (addSupplierForm.controls.email.pristine && !submitted)">
                                        Please enter a valid email address
                                    </small>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="phone-number" class="control-label col-md-3 col-sm-3 col-xs-12">Phone Number</label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="phone-number" class="form-control col-md-7 col-xs-12" type="text" formControlName="phone_number">
                                    <small class="alert alert-danger" [hidden]="addSupplierForm.controls.phone_number.valid || (addSupplierForm.controls.phone_number.pristine && !submitted)">
                                        Please enter a valid phone number
                                    </small>
                                  </div>
                                </div>
                                
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a  class="btn btn-primary" (click)="newSupplierModal.hide()">Cancel</a>
                                    <button type="submit" class="btn btn-success" [disabled]="!addSupplierForm.valid" (click)="newSupplierModal.hide()">Submit</button>
                                  </div>
                                </div>

                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!--/modal -->

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        
                      </div>

                      <div class="clearfix"></div>

                      <div *ngFor="let supplier of suppliers" class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>{{supplier.name}}</i></h4>
                            <div class="left col-xs-9">
                              <ul class="list-unstyled">
                                <li><i class="fa fa-envelope"></i>Email Address: {{supplier.email}}</li>
                                <li><i class="fa fa-phone"></i> Phone #: {{supplier.phone_number}}</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                           
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                              <a routerLink="/supplier-details"  class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> View Profile
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>