<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{title}}</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>

                <record-sale-modal></record-sale-modal>
        
              </div>
            </div>
            

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Sales Performance  </h2>
                   
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <br />

                      <div class="col-md-12 col-sm-12 col-xs-12" id="mainb" style="height:350;">
                        <canvas baseChart width="840" height="200"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType">
                            
                        </canvas>
                      </div>
                       <div class="clearfix"></div>
                      <div class="col-md-12 col-sm-12 col-xs-12">


                        <div class="x_title">
                          <h2>Recent Sales  </h2>
                         
                          <div class="clearfix"></div>
                        </div>

                        <!-- start of recent sales -->
                        <ul class="messages">
                          <li>
                            <img src="images/img.jpg" class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">24</h3>
                              <p class="month">May</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">Ms Jane</h4>
                              <blockquote class="message">
                                <ul>
                                  <li>Rice</li>
                                  <li> Cement</li>
                                 
                                </ul>

                              </blockquote>
                              <br />
                             
                              
                            </div>
                            <div class="col-xs-12 bottom text-left">
                                <div class="col-xs-12 col-sm-6 emphasis">  
                                  <a routerLink="/sale-invoice"  class="btn btn-primary btn-xs">
                                    View Invoice
                                  </a>
                                </div>
                              </div>
                          </li>
                          <li>
                            <img src="images/img.jpg" class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">24</h3>
                              <p class="month">May</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">Ms Jane</h4>
                              <blockquote class="message">
                                <ul>
                                  <li>Rice</li>
                                  <li> Cement</li>
                                 
                                </ul>

                              </blockquote>
                              <br/>
                              
                             
                            </div>
                            <div class="col-xs-12 bottom text-left">
                                <div class="col-xs-12 col-sm-6 emphasis">  
                                  <a routerLink="/sale-invoice"  class="btn btn-primary btn-xs">
                                     View Invoice
                                  </a>
                                </div>
                              </div>
                          </li>
                          <li>
                            <img src="images/img.jpg" class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">24</h3>
                              <p class="month">May</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">Ms Jane</h4>
                              <blockquote class="message">
                                <ul>
                                  <li>Rice</li>
                                  <li>Cement</li>
                                 
                                </ul>

                              </blockquote>
                              <br />
                              
                              
                            </div>
                            <div class="col-xs-12 bottom text-left">
                                <div class="col-xs-12 col-sm-6 emphasis">  
                                  <a routerLink="/sale-invoice"  class="btn btn-primary btn-xs">
                                     View Invoice
                                  </a>
                                </div>
                              </div>
                          </li>
                        </ul>
                        <!-- end of recent sales -->


                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>