<!-- page content -->
  <div class="">


    <!-- top page title -->
    <div class="page-title">
      <div class="title_left">
        <h3>{{title}}</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
          <div class="input-group">
            <input *ngIf="config.filtering" placeholder="Search Inventory"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="table.onChangeTable(config)"/>
          </div>
        </div>
        <add-inventory-modal [suppliers]="suppliers" [products]="products" [getInventoriesList]=getInventoryList></add-inventory-modal>
        <a class="btn btn-round btn-primary" routerLink="/product">View Product List</a>
        <simple-notifications [options]="notificationsOptions"></simple-notifications>
      </div>


    </div>
    <!-- /top page title -->

    

      <!-- Inventory Details -->
      <div class="modal fade" bsModal #inventoryDetailsModal="bs-modal" [config]="{backdrop: 'static'}"
           tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="inventoryDetailsModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Inventory Details</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">
                      <br/>
                      <ul class="messages">
                          <li>
                            <div class="message_wrapper">
                              <h4 class="heading">Rice</h4>
                              <blockquote class="message">
                                <ul>
                                  <li>Supplier Name - </li>
                                  <li>Cost Price - </li>
                                  <li>Unit Ordered - </li>
                                  <li>Expiry Date - </li>
                                  <li>Order Date - </li>
                                  <li>Status - </li>
                                </ul>
                              </blockquote>
                              <br />
                              
                            </div>
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- /Inventory Details -->
    <!--/modals -->

    <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2></h2>
             
              <div class="clearfix"></div>
            </div>
            <div *ngIf="table && inventories" class="x_content">
             
              <ng-table [config]="config"
                        (tableChanged)="table.onChangeTable(config)"
                        (cellClicked)="table.onCellClick($event)"
                        [rows]="table.rows" [columns]="table.columns">
              </ng-table>
              <pagination *ngIf="config.paging && table.numPages > 1"
                          class="pagination-sm"
                          [(ngModel)]="table.page"
                          [totalItems]="table.length"
                          [itemsPerPage]="table.itemsPerPage"
                          [maxSize]="table.maxSize"
                          [boundaryLinks]="true"
                          [rotate]="false"
                          (pageChanged)="table.onChangeTable(config, $event)"
                          (numPages)="table.numPages = $event">
              </pagination>
              <pre *ngIf="config.paging && table.numPages > 1" class="card card-block card-header">Page: {{table.page}} / {{table.numPages}}</pre>
            </div>
          </div>
        </div>
    </div>


</div>
<!-- /page content -->