<!-- page content -->
  <div class="">


    <!-- top page title -->
    <div class="page-title">
      <div class="title_left">
        <h3>{{title}}</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
          <div class="input-group">
            <input *ngIf="config.filtering" placeholder="Search Inventory"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="table.onChangeTable(config)"/>
          </div>
        </div>
        <a class="btn btn-round btn-primary" (click)="addInventoryModal.show()">Order Inventory</a>
        <a class="btn btn-round btn-primary" routerLink="/product">View Product List</a>
      </div>


    </div>
    <!-- /top page title -->

    <!--modals -->

      <div class="modal fade" bsModal #addInventoryModal="bs-modal" [config]="{backdrop: 'static'}"
           tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="addInventoryModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Order Inventory</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">
                      <br />
                      <form class="form-horizontal form-label-left" [formGroup]="addInventoryForm" novalidate (ngSubmit)="saveInventory(addInventoryForm.value, addInventoryForm.valid)">

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Product Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                                <input formControlName="name"
                                       id="product-name" 
                                       [typeahead]="inventories"
                                       (typeaheadOnSelect)="typeAheadOnSelectProduct($event)"
                                       [typeaheadOptionsLimit]="7"
                                       [typeaheadOptionField]="'name'"
                                       [typeaheadMinLength]="0"
                                       placeholder="Find product"
                                       class="form-control col-md-7 col-xs-12">
                                <input type="hidden" formCOntrolName="product_id">
                          <small class="alert alert-danger" [hidden]="addInventoryForm.controls.name.valid || (addInventoryForm.controls.name.pristine && !submitted)">
                              Name is required (minimum 5 characters).
                          </small>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Supplier <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                                <input formControlName="supplier"
                                       id="product-name" 
                                       [typeahead]="suppliers"
                                       (typeaheadOnSelect)="typeAheadOnSelectSupplier($event)"
                                       [typeaheadOptionsLimit]="7"
                                       [typeaheadOptionField]="'name'"
                                       [typeaheadMinLength]="0"
                                       placeholder="Find supplier"
                                       class="form-control col-md-7 col-xs-12">
                                <input type="hidden" formCOntrolName="supplier_id">
                          <small class="alert alert-danger" [hidden]="addInventoryForm.controls.name.valid || (addInventoryForm.controls.name.pristine && !submitted)">
                              Name is required (minimum 5 characters).
                          </small>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="units-to-order" class="control-label col-md-3 col-sm-3 col-xs-12">Units to order</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="quantity"  id="units-to-order" class="form-control col-md-7 col-xs-12" type="text">
                              <small class="alert alert-danger" [hidden]="addInventoryForm.controls.quantity.valid || (addInventoryForm.controls.quantity.pristine && !submitted)">
                                  Quantity is required (Must be number(s)).
                              </small>
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <label for="cost-price" class="control-label col-md-3 col-sm-3 col-xs-12">Cost Price </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="cost-price" formControlName="cost_price" class="form-control col-md-7 col-xs-12" type="text" >
                          </div>
                          <small [hidden]="addInventoryForm.controls.cost_price.valid || (addInventoryForm.controls.cost_price.pristine && !submitted)">
                              Cost Price is required (Must be number(s)).
                          </small>
                        </div>

                        <div class="form-group">
                          <label for="total-cost" class="control-label col-md-3 col-sm-3 col-xs-12">Total Cost</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="total_cost" id="total-cost" class="form-control col-md-7 col-xs-12" type="text" >
                            <small [hidden]="addInventoryForm.controls.total_cost.valid || (addInventoryForm.controls.total_cost.pristine && !submitted)">
                                Total Cost is required (Must be number(s)).
                            </small>
                          </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" (click)="addInventoryModal.hide()">Cancel</a>
                            <button type="submit" class="btn btn-success" [disabled]="!addInventoryForm.valid" (click)="addInventoryModal.hide()">Submit</button>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inventory Details -->
      <div class="modal fade" bsModal #inventoryDetailsModal="bs-modal" [config]="{backdrop: 'static'}"
           tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="inventoryDetailsModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Inventory Details</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">
                      <br/>
                      <ul class="messages">
                          <li>
                            <div class="message_wrapper">
                              <h4 class="heading">Rice</h4>
                              <blockquote class="message">
                                <ul>
                                  <li>Supplier Name - </li>
                                  <li>Cost Price - </li>
                                  <li>Unit Ordered - </li>
                                  <li>Expiry Date - </li>
                                  <li>Order Date - </li>
                                  <li>Status - </li>
                                </ul>
                              </blockquote>
                              <br />
                              
                            </div>
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- /Inventory Details -->
    <!--/modals -->

    <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2></h2>
             
              <div class="clearfix"></div>
            </div>
            <div *ngIf="table && inventories" class="x_content">
             
              <ng-table [config]="config"
                        (tableChanged)="table.onChangeTable(config)"
                        (cellClicked)="table.onCellClick($event)"
                        [rows]="table.rows" [columns]="table.columns">
              </ng-table>
              <pagination *ngIf="config.paging && table.numPages > 1"
                          class="pagination-sm"
                          [(ngModel)]="table.page"
                          [totalItems]="table.length"
                          [itemsPerPage]="table.itemsPerPage"
                          [maxSize]="table.maxSize"
                          [boundaryLinks]="true"
                          [rotate]="false"
                          (pageChanged)="table.onChangeTable(config, $event)"
                          (numPages)="table.numPages = $event">
              </pagination>
              <pre *ngIf="config.paging && table.numPages > 1" class="card card-block card-header">Page: {{table.page}} / {{table.numPages}}</pre>
            </div>
          </div>
        </div>
    </div>


</div>
<!-- /page content -->