<!-- page content -->
  <div class="">


    <!-- top page title -->
    <div class="page-title">
      <div class="title_left">
        <h3>{{title}}</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
          <div class="input-group">
             <input placeholder="Search Inventory" #productSearchBox (keyup)="search(productSearchBox.value)"
           class="form-control"/>
          </div>
        </div>
        
        <add-product-modal (onAddProduct)="onChangeProductList()"></add-product-modal>
        <a class="btn btn-round btn-primary">Import Products</a>
       
      </div>


    </div>
    <!-- /top page title -->

    <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Products</h2>
             
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Unit of Measurement</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.unit_of_measurment}}</td>
                    <td><delete-product-modal [product]="product" (onDeleteProduct)="onChangeProductList()" ></delete-product-modal></td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>


</div>
<!-- /page content -->


    