<!-- page content -->
  <div class="">


    <!-- top page title -->
    <div class="page-title">
      <div class="title_left">
        <h3>{{title}}</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
          <div class="input-group">
            <input *ngIf="config.filtering" placeholder="Search Inventory"
             [ngTableFiltering]="config.filtering"
             class="form-control"
             (tableChanged)="productTable.onChangeTable(config)"/>
          </div>
        </div>
        
        <a class="btn btn-round btn-primary" (click)="staticModal.show()">Add a Product</a>
        <a class="btn btn-round btn-primary">Import Products</a>
        
      </div>


    </div>
    <!-- /top page title -->

    <!--modal -->
      <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
           tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="staticModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">
                      <br />
                      <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Product Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="product-name" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">Category<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="category" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="unit" class="control-label col-md-3 col-sm-3 col-xs-12">Unit of Measurement</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="unit" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                          </div>
                        </div>
                        
                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary" (click)="staticModal.hide()">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--/modal -->

    <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Products</h2>
             
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              
              <ng-table  [config]="config"
                        (tableChanged)="productTable.onChangeTable(config)"
                        (cellClicked)="productTable.onCellClick($event)"
                        [rows]="productTable.rows" [columns]="columns">
              </ng-table>
              <pagination *ngIf="config.paging && productTable.numPages > 1"
                          class="pagination-sm"
                          [(ngModel)]="productTable.page"
                          [totalItems]="productTable.length"
                          [itemsPerPage]="productTable.itemsPerPage"
                          [maxSize]="productTable.maxSize"
                          [boundaryLinks]="true"
                          [rotate]="false"
                          (pageChanged)="productTable.onChangeTable(config, $event)"
                          (numPages)="productTable.numPages = $event">
              </pagination>
              <pre *ngIf="config.paging && productTable.numPages > 1" class="card card-block card-header">Page: {{productTable.page}} / {{productTable.numPages}}</pre>
            </div>
          </div>
        </div>
    </div>


</div>
<!-- /page content -->