 <!-- page content -->
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{title}}</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sd-12 col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Transaction Summary <small>Weekly progress</small></h2>
            <div class="filter">
              <!-- <form [formGroup]="dataForm">
                <datepicker formControlName="date" [expanded]="true"></datepicker>
              </form> -->
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="demo-container" style="height:280px">
                <div id="placeholder33x" class="demo-placeholder">
                  <canvas baseChart width="840" height="200"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
                      
                  </canvas>

                </div>
              </div>
              <div class="tiles">
                <div class="col-md-4 tile">
                  <span>Total Profit</span>
                  <h2>$231,809</h2>
                
                </div>
                <div class="col-md-4 tile">
                  <span>Total Sales</span>
                  <h2>$231,809</h2>
                </div>
                <div class="col-md-4 tile">
                  <span>Total Cost</span>
                  <h2>$231,809</h2>
                </div>
              </div>

            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
              <div>
                <div class="x_title">
                  <h2>Sales History</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="">Settings 1</a>
                        </li>
                        <li><a href="">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <ul class="list-unstyled top_profiles scroll-view">
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Ms. Mary Jane</a>
                      <p><strong>$2300. </strong> Agent Avarage Sales </p>
                      <p> <small>12 Sales Today</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-green profile_thumb">
                      <i class="fa fa-user green"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Ms. Mary Jane</a>
                      <p><strong>$2300. </strong> Agent Avarage Sales </p>
                      <p> <small>12 Sales Today</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-blue profile_thumb">
                      <i class="fa fa-user blue"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Ms. Mary Jane</a>
                      <p><strong>$2300. </strong> Agent Avarage Sales </p>
                      <p> <small>12 Sales Today</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Ms. Mary Jane</a>
                      <p><strong>$2300. </strong> Agent Avarage Sales </p>
                      <p> <small>12 Sales Today</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-green profile_thumb">
                      <i class="fa fa-user green"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Ms. Mary Jane</a>
                      <p><strong>$2300. </strong> Agent Avarage Sales </p>
                      <p> <small>12 Sales Today</small>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Inventory Stock</h2>
            
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="card-box table-responsive">
              <ng-table [config]="config"
                          (tableChanged)="onChangeTable(config)"
                          (cellClicked)="onCellClick($event)"
                          [rows]="rows" [columns]="columns">
              </ng-table>
              <pagination *ngIf="config.paging"
                          class="pagination-sm"
                          [(ngModel)]="page"
                          [totalItems]="length"
                          [itemsPerPage]="itemsPerPage"
                          [maxSize]="maxSize"
                          [boundaryLinks]="true"
                          [rotate]="false"
                          (pageChanged)="onChangeTable(config, $event)"
                          (numPages)="numPages = $event">
              </pagination>
              <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Debtors &amp; Creditors</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

          <tabset>
          <tab heading="Debtors">
             <!-- start debtors list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%"> Name</th>
                          <th>Total Debt</th>
                          <th>Paid</th>
                          <th>Status</th>
                          <th style="width: 20%">Remainder</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                       <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- end debtors list -->

          </tab>
          <tab heading="Creditors">
             <!-- start creditors list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%"> Name</th>
                          <th>Total Debt</th>
                          <th>Paid</th>
                          <th>Status</th>
                          <th style="width: 20%">Remainder</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Janet</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                       <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>Ms Mary Jane</a>
                            
                          </td>
                          <td>
                            1111
                          </td>
                          <td class="project_progress">
                            
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                          </td>
                          <td>
                           100
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- end creditors list -->
          </tab>
        </tabset>
           
          </div>
        </div>
      </div>
    </div>
</div>
<!-- page content -->  
        